@use "../../presets" as *;
@use "../../mixins" as *;

.banner {
  &__container {
    position: relative;

    display: flex;
    align-items: center;

    height: 720px;

    color: #f5f0ec;
    background-color: #1b5b31;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;

    gap: 40px;

    &-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex-shrink: 0;

      width: 596px;
      margin-left: 35px;
      padding-left: 96px;

      gap: 72px;
    }

    &-info {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      flex-direction: column;

      gap: 16px;
    }

    &-nav {
      margin-bottom: 0;

      letter-spacing: -0.12px;

      font-size: 12px;
    }

    &-title {
      margin-bottom: 0;

      letter-spacing: -1.44px;

      font-family: Montserrat, sans-serif;
      font-size: 48px;
      line-height: 115%;

      & i {
        letter-spacing: normal;
      }
    }

    &-text {
      margin-bottom: 0;

      letter-spacing: -0.16px;
    }

    &-btn {
      display: flex;
      align-items: center;

      padding: 12px 22px 14px 22px;

      transition: 0.5s;

      color: #f5f0ec;
      border: 1px solid #f5f0ec;
      border-radius: 200px;

      gap: 8px;

      &:hover {
        background: linear-gradient(to left, rgba(#1b5b31, 0.5), rgba(33, 243, 173, 0.5));
        box-shadow: -3px 3px 20px -4px darken(#1b5b31, 60%);
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;

    max-width: 55%;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@include ul-xl {
  .banner {
    &__container {
      height: 680px;
    }

    &__img {
      & img {
        height: 680px;
      }
    }

    &__content {
      &-container {
        width: 500px;
      }
    }
  }
}

@include xl-lg {
  .banner {
    &__container {
      height: 571px;
    }

    &__img {
      & img {
        height: 571px;
      }
    }

    &__content {
      &-container {
        width: 440px;
      }
    }
  }
}

@include lg-md {
  .banner {
    &__container {
      height: 420px;
    }

    &__img {
      & img {
        height: 420px;
      }
    }

    &__content {
      gap: 20px;

      &-container {
        width: 350px;
        padding-left: 0;

        gap: 30px;
      }

      &-info {
        gap: 8px;
      }

      &-title {
        font-size: 30px;
      }

      &-text {
        width: 350px;

        font-size: 14px;
      }
    }
  }
}

@include md-sm {
  .banner {
    &__container {
      height: 420px;
    }

    &__img {
      & img {
        height: 320px;
      }
    }

    &__content {
      width: 250px;

      gap: 20px;

      &-container {
        width: 350px;
        margin-right: 0;
        padding-left: 279px;

        gap: 30px;
      }

      &-info {
        gap: 8px;
      }

      &-title {
        font-size: 18px;
      }

      &-text {
        width: 80%;

        font-size: 10px;
      }

      &-btn {
        width: 200px;

        font-size: 12px;
      }
    }
  }
}

@include sm {
  .banner {
    &__container {
      height: 420px;
    }

    &__img {
      & img {
        height: 320px;
      }
    }

    &__content {
      width: 150px;

      gap: 20px;

      &-container {
        width: 330px;
        margin-right: 0;
        padding-left: 180px;

        gap: 30px;
      }

      &-info {
        width: 160px;

        gap: 8px;
      }

      &-title {
        font-size: 18px;
      }

      &-text {
        width: 80%;

        font-size: 9px;
      }

      &-btn {
        width: 150px;

        font-size: 10px;
      }
    }
  }
}
