@use "../../presets" as *;
@use "../../mixins" as *;

.banner {
  &__container {
    position: relative;
    height: 720px;
    display: flex;
    align-items: center;
    background-color: #1B5B31;
    color: #F5F0EC;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;

    &-container {
      margin-left: 35px;
      display: flex;
      width: 596px;
      padding-left: 96px;
      flex-direction: column;
      align-items: flex-start;
      gap: 72px;
      flex-shrink: 0;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
    }

    &-nav {
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: -0.12px;
    }

    &-title {
      margin-bottom: 0;
      font-family: Montserrat, sans-serif;
      font-size: 48px;
      line-height: 115%;
      letter-spacing: -1.44px;

      & i {
        letter-spacing: normal;
      }
    }

    &-text {
      margin-bottom: 0;
      letter-spacing: -0.16px;
    }

    &-btn {
      display: flex;
      padding: 12px 22px 14px 22px;
      align-items: center;
      gap: 8px;
      border-radius: 200px;
      border: 1px solid #F5F0EC;
      color: #F5F0EC;
      transition: 0.5s;

      &:hover {
        background: linear-gradient(to left, rgba(#1B5B31, 0.5), rgba(33, 243, 173, 0.5));
        box-shadow: -3px 3px 20px -4px darken(#1B5B31, 60%);
      }
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 55%;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@include ul-xl {
  .banner {
    &__container {
      height: 680px;
    }

    &__img {
      & img {
        height: 680px;
      }
    }

    &__content {
      &-container {
        width: 500px;
      }
    }
  }
}

@include xl-lg {
  .banner {
    &__container {
      height: 571px;
    }

    &__img {
      & img {
        height: 571px;
      }
    }

    &__content {
      &-container {
        width: 440px;
      }
    }
  }
}

@include lg-md {
  .banner {
    &__container {
      height: 420px;
    }

    &__img {
      & img {
        height: 420px;
      }
    }

    &__content {
      gap: 20px;

      &-container {
        padding-left: 0;
        gap: 30px;
        width: 350px;
      }

      &-info {
        gap: 8px;
      }

      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 14px;
        width: 350px;
      }
    }
  }
}

@include md-sm {
  .banner {
    &__container {
      height: 420px;
    }

    &__img {
      & img {
        height: 320px;
      }
    }

    &__content {
      gap: 20px;
      width: 250px;

      &-container {
        margin-right: 0;
        padding-left: 279px;
        gap: 30px;
        width: 350px;
      }

      &-info {
        gap: 8px;
      }

      &-title {
        font-size: 18px;
      }

      &-text {
        font-size: 10px;
        width: 80%;
      }

      &-btn {
        font-size: 12px;
        width: 200px;
      }
    }
  }
}
