@use "../../presets" as *;
@use "../../mixins" as *;

.slide {
  &__item {
    //display: none;
    position: relative;
    height: 737px;
    display: flex;
    align-items: center;
    background-color: #DCC1AB;

    &-content {
      display: flex;
      gap: 44px;
      flex-wrap: wrap;

      &-container {
        padding-top: 140px;
        width: 599px;
        display: flex;
        gap: 72px;
        flex-wrap: wrap;
      }

      &-title {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        line-height: 70px;
      }

      &-text {
        margin: 0;
        width: 440px;
      }

      &-action {
        display: flex;
        gap: 32px;
      }

      &-btn {
        display: inline-block;
        padding: 12px 24px 14px 24px;
        border-radius: 200px;
        transition: 0.5s;

        &:hover {
          box-shadow: -3px 3px 30px -7px darken(#1B5B31, 60%);
          background: linear-gradient(to left, rgba(#1B5B31, 0.5), rgba(33, 243, 173, 0));
        }
      }
    }

    &-img {
      max-width: 100%;
      height: auto;

      &-container {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 55%;
      }
    }
  }

  &__nav {
    position: absolute;
    bottom: 0 !important;
    right: 0;
    padding: 24px 32px;
    background: #F5F0EC !important;
  }
}

.btn {
  &-contact {
    background-color: #1B5B31;
    color: #F5F0EC;
  }

  &-realization {
    border: 1px solid #1B5B31;
    color: #1B5B31;

    & img {
      margin-left: 8px;
    }
  }
}

.prev, .next {
  cursor: pointer;
  display: inline-block;
  transition: all 0.7s ease;
}

.next {
  right: 0 !important;
}

.prev {
  right: 60px !important;
  margin-right: 32px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: -3px 3px 20px -10px darken(#1B5B31, 60%);
  //background-color: rgba(0, 0, 0, 0.8);
}

.intro-fade {
  animation-name: intro-fade;
  animation-duration: 1.5s;
}

@keyframes intro-fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
