.projects {
  background-color: #DCC1AB;
  display: flex;
  padding: 120px 0 44px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;

  &__title {
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 55.2px */
    letter-spacing: -1.44px;

    & i {
      letter-spacing: normal;
    }

    &-container {
      margin-inline: auto;
      width: 1440px;
      display: flex;
      padding-left: 160px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
    }

    &-nav {
      margin-bottom: 0;
      color: #1B5B31;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
      letter-spacing: -0.12px;
    }
  }

  &__img {
    &-container {
      position: relative;
      margin-inline: auto;
      width: 1440px;
      height: 1475px;
      overflow: hidden;
    }
  }
}

.item {
  margin-bottom: 42px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    box-shadow: -3px 3px 20px -5px darken(#1B5B31, 60%);
  }

  &-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1000px;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
  }

  &-btn {
    position: absolute;
    display: inline-flex;
    bottom: 45.5px;
    left: 658px;
    padding: 12px 22px 14px 22px;
    gap: 8px;
    border-radius: 200px;
    border: 1px solid #111;
    color: #111;
    transition: 0.5s;

    &:hover {
      background: linear-gradient(to left, rgba(#1B5B31, 0.5), rgba(33, 243, 173, 0));
      box-shadow: -3px 3px 20px -5px darken(#1B5B31, 60%);
    }
  }
}

.carousel {
  margin-inline: auto;

  &-item {
    & img {
      object-fit: contain;
      max-height: 68vh;
    }
  }
}

.modal-content {
  height: 90vh;
}

.carousel-control-prev {
  border-radius: 5px 0 0 5px;
  background: linear-gradient(to right, rgba(#1B5B31, 0.5), rgba(33, 243, 173, 0));
}

.carousel-control-next {
  border-radius: 0 5px 5px 0;
  background: linear-gradient(to left, rgba(#1B5B31, 0.5), rgba(33, 243, 173, 0));
}
