@use "../../presets" as *;
@use "../../mixins" as *;

.slide {
  &__item {
    position: relative;
    height: 737px;
    display: flex;
    align-items: center;
    background-color: #DCC1AB;

    &-content {
      display: flex;
      gap: 44px;
      flex-wrap: wrap;

      &-container {
        padding-top: 140px;
        width: 599px;
        display: flex;
        gap: 72px;
        flex-wrap: wrap;
      }

      &-title {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        line-height: 70px;
      }

      &-text {
        margin: 0;
        width: 440px;
      }

      &-action {
        display: flex;
        gap: 32px;
      }

      &-btn {
        display: inline-block;
        padding: 12px 24px 14px 24px;
        border-radius: 200px;
        transition: 0.5s;

        &:hover {
          box-shadow: -3px 3px 30px -7px darken(#1B5B31, 60%);
          background: linear-gradient(to left, rgba(#1B5B31, 0.5), rgba(33, 243, 173, 0));
        }
      }
    }

    &-img {
      max-width: 100%;
      height: auto;

      &-container {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 55%;
      }
    }
  }

  &__nav {
    position: absolute;
    bottom: 0 !important;
    right: 0;
    padding: 24px 32px;
    background: #F5F0EC !important;
  }
}

.btn {
  &-contact {
    background-color: #1B5B31;
    color: #F5F0EC;
  }

  &-realization {
    border: 1px solid #1B5B31;
    color: #1B5B31;

    & img {
      margin-left: 8px;
    }
  }
}

.prev, .next {
  cursor: pointer;
  display: inline-block;
  transition: all 0.7s ease;
}

.next {
  right: 0 !important;
}

.prev {
  right: 60px !important;
  margin-right: 32px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: -3px 3px 20px -10px darken(#1B5B31, 60%);
  //background-color: rgba(0, 0, 0, 0.8);
}

.intro-fade {
  animation-name: intro-fade;
  animation-duration: 1.5s;
}

@keyframes intro-fade {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@include ul-xl {
  .slide {
    &__item {
      height: 705px;

      &-content {
        &-container {
          margin-left: 10px;
        }
      }

      &-img {
        height: 705px;
      }
    }
  }
}

@include xl-lg {
  .slide {
    &__item {
      height: 580px;

      &-content {
        &-container {
          margin-left: 10px;
          padding-top: 80px;
          width: 400px;
        }

        &-title {
          font-size: 40px;
          line-height: normal;
        }

        &-text {
          width: 400px;
        }

        &-action {
          gap: 15px;
        }

        &-btn {
          padding: 10px 20px 12px 20px;
          font-size: 12px;
        }
      }

      &-img {
        height: 580px;
      }
    }
  }
}

@include lg-md {
  .slide {
    &__item {
      height: 420px;


      &-content {
        &-container {
          margin-left: 10px;
          padding-top: 30px;
          width: 350px;
        }

        &-title {
          font-size: 24px;
          line-height: normal;
        }

        &-text {
          width: 350px;
          font-size: 14px;
        }

        &-action {
          padding-right: 10px;
          flex-wrap: wrap;
          gap: 15px;
        }

        &-btn {
          width: 100%;
          padding: 10px 20px 12px 20px;
          font-size: 12px;
          text-align: center;
        }
      }

      &-img {
        height: 420px;
      }
    }

    &__nav {
    }
  }
}

@include md-sm {
  .slide {
    &__item {
      height: 420px;

      &-content {

        &-container {
          margin-left: 10px;
          padding-top: 70px;
          width: 350px;
          gap: 90px;
        }

        &-title {
          font-size: 18px;
          line-height: normal;
        }

        &-text {
          width: 250px;
          font-size: 12px;
        }

        &-action {
          padding-right: 10px;
          flex-wrap: wrap;
          gap: 15px;
        }

        &-btn {
          width: 100%;
          padding: 5px 20px 5px 20px;
          font-size: 10px;
          text-align: center;
        }
      }

      &-img {
        height: 325px;
      }
    }

    &__nav {
    }
  }
}

