@use "../../presets" as *;
@use "../../mixins" as *;

.oferta {
  &__container {
    padding-top: 120px;
    background-color: #F5F0EC;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    height: 159px;


    &-container {
      margin-bottom: 96px;
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      width: 1040px;
    }

    &-nav {
      font-size: 12px;
      letter-spacing: -0.01em;
      color: #1B5B31;
      margin-bottom: 0;

    }

    &-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      line-height: 115%;
      letter-spacing: -0.03em;
      margin-bottom: 0;

      & i {
        letter-spacing: normal;
      }
    }

    &-text {
      width: 709px;
      letter-spacing: -0.01em;
      margin-bottom: 0;
    }
  }

  &__cards {
    padding-bottom: 160px;

    & .row {
      gap: 64px;
    }
  }

  &__item {
    width: 378px;
    height: 370px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 28px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: linear-gradient(to left, rgba(#1B5B31, 0.5), rgba(33, 243, 173, 0));
      box-shadow: -3px 3px 20px -10px darken(#1B5B31, 60%);
    }

    &-img {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      height: 44px;
    }

    &-title {
      margin-bottom: 12px;
      font-family: Montserrat, sans-serif;
      line-height: 115%;
      letter-spacing: -0.05em;
    }

    &-text {
      margin-bottom: 0;
      font-size: 14px;
      letter-spacing: -0.01em;
    }

    &-link {
      display: inline-block;
      color: #1B5B31;
      border-bottom: 1px solid #1B5B31;
    }
  }
}

