@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  background-color: #111111;
  color: #F5F0EC;

  &__container {
    max-width: 1140px;
    padding: 80px 50px;
  }
}

.contact {
  &__container {
    margin-bottom: 120px;
    //  TODO--------FLEX GAP
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-action {
      display: flex;
      gap: 24px;
    }

    &-text {
      margin: auto;
      letter-spacing: -0.01em;
    }

    &-btn {
      padding: 12px 24px 14px;
      background: #1B5B31;
      border-radius: 200px;
      line-height: 150%;
      color: #F5F0EC;
    }
  }

  &__line {
    border: 1px solid #F5F0EC;
  }

  &__network {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: -0.01em;
  }

  &__social {
    display: flex;
    gap: 48px;
  }

  &__copyright {
    letter-spacing: -0.01em;

    &-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
