@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  background-color: #111111;
  color: #F5F0EC;

  &__container {
    max-width: 1140px;
    padding: 80px 50px;
  }
}

.contact {
  &__container {
    margin-bottom: 120px;
    display: grid;
    gap: 62px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-action {
      display: flex;
      gap: 24px;
    }

    &-text {
      margin: auto;
      letter-spacing: -0.01em;
    }

    &-btn {
      padding: 12px 24px 14px;
      background: #1B5B31;
      border-radius: 200px;
      line-height: 150%;
      color: #F5F0EC;
      transition: 0.5s;

      &:hover {
        box-shadow: -3px 3px 30px -7px #F5F0EC;
        background: linear-gradient(to left, rgba(#1B5B31, 0.5), rgba(33, 243, 173, 0));
      }
    }
  }

  &__line {
    border: 1px solid #F5F0EC;
  }

  &__network {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: -0.01em;
  }

  &__social {
    display: flex;
    gap: 48px;

    & a {
      color: #F5F0EC;
      transition: 0.5s;

      &:hover {
        box-shadow: -3px 3px 30px -7px #F5F0EC;
        background-color: rgba(245, 240, 236, 0.1);
        border-radius: 10px;
      }
    }
  }

  &__copyright {
    letter-spacing: -0.01em;

    &-container {
      display: flex;
      justify-content: space-between;
    }
  }
}

@include ul-xl {
  .footer {
    &__container {
      padding: 50px;
    }
  }
  .contact {
    &__container {
      margin-bottom: 90px;
    }
  }
}

@include xl-lg {
  .footer {
    &__container {
      padding: 50px;
    }
  }
  .contact {
    &__container {
      margin-bottom: 60px;
      gap: 40px;
    }
  }
}

@include lg-md {
  .footer {
    &__container {
      padding: 50px;
    }
  }
  .contact {
    &__container {
      margin-bottom: 50px;
      gap: 30px;
    }

    &__info {
      &-text {
        font-size: 14px;
      }

      &-btn {
        font-size: 14px;
      }
    }

    &__social {
      gap: 32px;
      font-size: 12px;
    }
  }
}

@include md-sm {
  .footer {
    &__container {
      padding: 50px;
    }
  }
  .contact {
    &__container {
      margin-bottom: 30px;
      gap: 30px;
    }

    &__info {
      &-action {
        gap: 10px;
      }

      &-text {
        font-size: 10px;
      }

      &-btn {
        font-size: 10px;
      }
    }

    &__social {
      gap: 15px;
      font-size: 12px;
    }

    &__copyright {
      font-size: 16px;
    }
  }
}
