@use "../presets" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
